.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
commands.md
gene_alignment_results
output/
null/
error
out
OscSUBSET-TEST
OscSUBSET-TEST-MODULE-UPDATE
OscSUBSET-TEST-MODULE-UPDATE-3
TreeValTinyData
yaml
.nf-test*
nf_run.e
nf_run.o
