/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '10.GB',
        time: '1.h'
    ]
}

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/treeval'

    config_profile_name        = "Test profile"
    config_profile_description = "Minimal test dataset to check pipeline function"

    input           = "${projectDir}/assets/TreeValTinyFullTest.yaml"
    mode            = "FULL"
    split_telomere  = true
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
