/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '10.GB',
        time: '1.h'
    ]
}

params {
    modules_testdata_base_path      = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path    = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/treeval'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
