nextflow.enable.moduleBinaries = true

process {
    withName: BWAMEM2_INDEX {
        memory   =  15.Gb
    }

    withName: CRAMALIGN_BWAMEM2ALIGNHIC {
        ext.args1 = { "${params.samtools_cat_args}"     }
        ext.args2 = { "${params.samtools_fastq_args}"   }
        ext.args3 = { "${params.bwamem2_mem_args}"      }
        ext.args4 = { "${params.samtools_fixmate_args}" }
        ext.args5 = { "${params.samtools_view_args}"    }
        ext.args6 = { "${params.samtools_sort_args}"    }
    }

    withName: CRAMALIGN_MINIMAP2ALIGNHIC {
        ext.args1 = { "${params.samtools_cat_args}"     }
        ext.args2 = { "${params.samtools_fastq_args}"   }
        ext.args3 = { "${params.minimap2_args}"         }
        ext.args4 = { "${params.samtools_fixmate_args}" }
        ext.args5 = { "${params.samtools_view_args}"    }
        ext.args6 = { "${params.samtools_sort_args}"    }
    }

    withName: 'SAMTOOLS_MERGEDUP' {
        ext.args2 = { "${params.samtools_markdup_args}" }
    }
}
