/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    sanger-tol/treeval Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {
    cpus   = { check_max( 1             * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB          * task.attempt, 'memory' ) }
    time   = { check_max( 4.h           * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors

    withLabel:process_single {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }

    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
    }

    withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }

    withLabel:process_high {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
    }

    withLabel:process_long {
        time   = { check_max( 20.h  * task.attempt, 'time'    ) }
    }

    withLabel:process_high_memory {
        memory = { check_max( 200.GB * task.attempt, 'memory' ) }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }

    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    // CUSTOM CONFIGS
    // TODO: add process.tiny

    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }

    withName:SAMTOOLS_MERGE {
        cpus    = { check_max( 16       * 1, 'cpus'  ) }
        memory  = { check_max( 150.GB    * task.attempt, 'memory') }
    }

    // RESOURCES: MEMORY INTENSIVE STEPS, SOFTWARE TO BE UPDATED TO COMBAT THIS
    withName: '.*:.*:SELFCOMP:(SELFCOMP_MAPIDS|SELFCOMP_MUMMER2BED|SELFCOMP_SPLITFASTA|BEDTOOLS_MERGE)' {
        cpus    = { check_max( 10       * task.attempt, 'cpus'      ) }
        memory  = { check_max( 120.GB   * task.attempt, 'memory'    ) }
        time    = { check_max( 12.h     * task.attempt, 'time'      ) }
    }

    withName: SELFCOMP_ALIGNMENTBLOCKS {
        cpus    = { check_max( 20       * task.attempt, 'cpus'      ) }
        memory  = { check_max( 120.GB   * task.attempt, 'memory'    ) }
        time    = { check_max( 18.h     * task.attempt, 'time'      ) }
    }


    // RESOURCES: CHANGES TO FREQUENT FAILURES BELOW THIS MEM POINT
    withName: '.*:.*:GENE_ALIGNMENT:.*:(MINIPROT_ALIGN|MINIMAP2_ALIGN)' {
        memory = { check_max( 50.GB    * Math.ceil( task.attempt * 1.5 ) , 'memory'  ) }
        time   = { check_max( 10.h     * task.attempt, 'time'    ) }
    }

    // Standard parameters, covers most insecta
    withName: '.*:.*:LONGREAD_COVERAGE:(MINIMAP2_ALIGN|MINIMAP2_ALIGN_SPLIT)' {
        cpus    = { check_max( 16       * 1, 'cpus'                 ) }
        memory  = { check_max( 100.GB   * task.attempt, 'memory'    ) }
        time    = { check_max( 18.h     * task.attempt, 'time'      ) }
    }

// For Large complex genomes > 4Gb
   // withName: '.*:.*:LONGREAD_COVERAGE:(MINIMAP2_ALIGN|MINIMAP2_ALIGN_SPLIT)' {
        //cpus    = { check_max( 20       * 1, 'cpus'                 ) }
     //   memory  = { check_max( 400.GB   * task.attempt, 'memory'    ) }
       // time    = { check_max( 300.h    * task.attempt, 'time'      ) }
    //}

    withName: '.*:.*:LONGREAD_COVERAGE:SAMTOOLS_SORT' {
        cpus    = { check_max( 8       * 1, 'cpus'                 ) }
    }

    // 25GB * (task attempt * 2) = 50GB, 100GB, 150GB
    withName:MUMMER {
        cpus    = { check_max( 12      * task.attempt, 'cpus'                      ) }
        memory  = { check_max( 25.GB   * Math.ceil( task.attempt * 2 ), 'memory'   ) }
    }

    withName:UCSC_BEDGRAPHTOBIGWIG {
        cpus   = { check_max( 2        * task.attempt, 'cpus'   ) }
        memory = { check_max( 20.GB    * task.attempt, 'memory' ) }
    }

    withName: CRAM_FILTER_ALIGN_BWAMEM2_FIXMATE_SORT {
        cpus    = { check_max( 16      * 1, 'cpus'   ) }
        memory  = { check_max( 130.GB  * task.attempt, 'memory' ) }
    }

    withName: PRETEXTMAP_STANDRD{
        cpus    = { check_max( 16      * 1, 'cpus'   ) }
        memory  = { check_max( 3.GB    * task.attempt, 'memory' ) }
    }

    withName: PRETEXTMAP_HIGHRES {
        cpus    = { check_max( 20      * task.attempt, 'cpus'   ) }
        memory  = { check_max( 16.GB   * task.attempt, 'memory' ) }
    }

    withName: SNAPSHOT_HRES {
        cpus    = { check_max( 1      * task.attempt, 'cpus'   ) }
        memory  = { check_max( 50.GB  * task.attempt, 'memory' ) }
    }

    withName: JUICER_TOOLS_PRE {
        cpus    = { check_max( 20      * task.attempt, 'cpus'   ) }
        memory  = { check_max( 100.GB  * task.attempt, 'memory' ) }
    }

    withName: BWAMEM2_INDEX {
        memory  = { check_max( 50.GB  * task.attempt, 'memory' ) }
    }

    // add a cpus 16 if bam.size() >= 50GB
    withName: '(SAMTOOLS_MARKDUP|BAMTOBED_SORT)' {
        cpus   = { check_max( 12     * 1, 'cpus'    ) }
        memory = { check_max( 100.GB * task.attempt, 'memory'  ) }
    }

    withName: COOLER_CLOAD {
        cpus   = { check_max( 16     * 1, 'cpus'    ) }
        memory = { check_max( 100.GB * task.attempt, 'memory'  ) }
    }

    withName: BUSCO {
        cpus   = { check_max( 16     * task.attempt, 'cpus'    ) }
        memory = { check_max( 50.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 20.h  * task.attempt, 'time'    ) }
    }

    // Large Genomes > 4Gb
    //withName: BUSCO {
      //  cpus   = { check_max( 30     * task.attempt, 'cpus'    ) }
        //memory = { check_max( 120.GB * task.attempt, 'memory'  ) }
        //time   = { check_max( 300.h  * task.attempt, 'time'    ) }
    //}
}
