/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/treeval -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'test_genealignment'
    config_profile_description = 'Minimal data set for gene alignments to input fasta'

    ticket_id = 'nxOscDoli1_1'
    fasta  = '/nfs/team135/dp24/treeval_testdata/gene_alignment_data/nxOscDoli1_1.fasta'
    alignment_data = '/nfs/team135/dp24/treeval_testdata/gene_alignment_data/Gae_host/'
}
