/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    First download the test databases and edit the yaml file to match the download path.

    Use as follows:
        nextflow run sanger-tol/treeval -profile test_github,singularity

----------------------------------------------------------------------------------------
*/



params {
    config_profile_name        = "GitHub Tiny (Full) Test profile"
    config_profile_description = "Small test dataset to check pipeline function on GitHub"

    // Limit resources so that this can run on GitHub Actions
    max_cpus    = 4
    max_memory  = '10.GB'
    max_time    = '6.h'

    // Input data
    input       = "${projectDir}/assets/github_testing/TreeValTinyFullTest.yaml"
    outdir      = "TinyTestFull"
}

process {
    withName: PRETEXTMAP_HIGHRES {
        memory  = { check_max( 8.GB                     , 'memory' ) }
    }
}