/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run sanger-tol/treeval -profile farm_full,singularity,sanger

    On LSF / tol farm:
        bsub -Is -tty -e error -o out -n 2 -q oversubscribed -M4000 -R'select[mem>4000] rusage[mem=4000] span[hosts=1]' 'nextflow run main.nf -profile test_full,singularity,sanger'

----------------------------------------------------------------------------------------
*/

cleanup = true

params {
    config_profile_name         = "FULL local test profile"
    config_profile_description  = "FULL test dataset to check pipeline function, using a current full local dataset"

    input                       = "${projectDir}/assets/local_testing/nxOscDF5033.yaml"
    output                      = nxOscDF5033
}
