/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/treeval -profile test,singularity

    On LSF / tol farm:
        bsub -Is -tty -e error -o out -n 2 -q oversubscribed -M4000 -R'select[mem>4000] rusage[mem=4000] span[hosts=1]' 'nextflow run main.nf -profile test,singularity,sanger'

----------------------------------------------------------------------------------------
*/


process {
    resourceLimits = [
        cpus: 4,
        memory: '10.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = "Test profile"
    config_profile_description = "Minimal test dataset to check pipeline function"

    // Input data
    input       = "${projectDir}/assets/local_testing/grTriPseu1.yaml"
    outdir      = "TinyTest"
}
