/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    First download the test databases and edit the yaml file to match the download path.

    Use as follows:
        nextflow run sanger-tol/treeval -profile test_github,singularity

    On LSF / tol farm:
        bsub -Is -tty -e error -o out -n 2 -q oversubscribed -M4000 -R'select[mem>4000] rusage[mem=4000] span[hosts=1]' 'nextflow run main.nf -profile test,singularity,sanger'

----------------------------------------------------------------------------------------
*/

// The current runner ig ubuntu-8c (8 core and 32 Gb ram) so we can run multiple processes at the same time.
process {
    maxForks = 2
}

params {
    config_profile_name        = "GitHub Tiny (Rapid) Test profile"
    config_profile_description = "Minimal test dataset to check pipeline function on GitHub"

    // Limit resources so that this can run on GitHub Actions
    max_cpus    = 2
    max_memory  = '6.GB'
    max_time    = '6.h'

    // Input data
    input       = "${projectDir}/assets/github_testing/TreeValTinyRapidTest.yaml"
    outdir      = "TinyTestRapid"
}
