nextflow.enable.moduleBinaries = true

process {
    withName: '.*:CRAM_MAP_ILLUMINA_HIC:CRAMALIGN_BWAMEM2ALIGNHIC' {
        ext.args1 = { ""                  }
        ext.args2 = { "-F0xB00 -nt"       }
        ext.args3 = { "-5SPCp"            }
        ext.args4 = { "-mpu"              }
        ext.args5 = { "-q 0 -F 0x904"     }
        ext.args6 = { "--write-index -l1" }

    }

    withName: '.*:CRAM_MAP_ILLUMINA_HIC:CRAMALIGN_MINIMAP2ALIGNHIC' {
        ext.args1 = { ""                    }
        ext.args2 = { "-F0xB00 -nt"         }
        ext.args3 = { "-ax sr"              }
        ext.args4 = { "-mpu"                }
        ext.args5 = { "-q 0 -F 0x904"       }
        ext.args6 = { "--write-index -l1"   }
    }
}
